version: '3.8'
services:
  app:
    build: ./frontend
    container_name: container_frontend
    command: npm start
    ports:
      - "${FRONT_PORT}:${FRONT_PORT}"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - backend
      
  backend:
    build: ./backend
    container_name: container_backend
    command: npm run dev
    ports:
      - "${BACK_PORT}:${BACK_PORT}"
    environment:
      - PORT=${BACK_PORT}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    volumes:
      - ./backend:/usr/src/app
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    container_name: container_bd
    environment:
    #### ISSO VAI SER ALTERADO DEPOIS
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}"]
      interval: 3s
      timeout: 5s
      retries: 10

volumes:
  postgres-data: