<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">

      <div class="card shadow-lg border-0">
        <div class="card-header text-white text-center py-3" style="background-color: #FCAA60 !important;">
          <h4 class="mb-0">Cadastrar Encomendas</h4>
        </div>
        <div class="card-body p-4 p-md-5">

          <form (ngSubmit)="registrarEncomenda()">

            <div class="row mb-4 g-3">
              
              <div class="col-md-4">
                <label for="blocoSelect" class="form-label fw-bold">Bloco</label>
                <select class="form-select" id="blocoSelect" required
                        [(ngModel)]="selectedBloco" name="bloco" (change)="onBlocoChange()">
                  <option value="" disabled selected>Selecione o Bloco</option>
                  <option *ngFor="let bloco of blocos" [value]="bloco">{{ bloco }}</option>
                </select>
              </div>

              <div class="col-md-4">
                <label for="unidadeSelect" class="form-label fw-bold">Apartamento</label>
                <select class="form-select" id="unidadeSelect" required
                        [(ngModel)]="selectedUnidade" name="unidade" (change)="onApartmentChange()">
                  <option value="" disabled selected>Selecione o Apto</option>
                  <option *ngFor="let a of apartamentos" [value]="a.id">
                    {{ a.name }}
                  </option>
                </select>
              </div>

              <div class="col-md-4">
                <label for="dataHoraInput" class="form-label fw-bold">Data e Hora de Chegada</label>
                <input type="datetime-local" class="form-control" id="dataHoraInput" required
                       [(ngModel)]="dataHora" name="dataHora">
              </div>
            </div>
            
            <div class="row mb-4">
              <div class="col-12">
                <label for="descricaoInput" class="form-label fw-bold">Tipo de Encomenda / Descrição</label>
                <textarea class="form-control" id="descricaoInput" rows="3" required
                          [(ngModel)]="descricao" name="descricao"
                          placeholder="Ex: Caixa grande da Amazon, Envelope"></textarea>
              </div>
            </div>

            <div class="d-grid mt-4">
              <button class="btn btn-marrom btn-lg" type="submit">Registrar Encomenda</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
