/* Login Card */
.login-card-layout {
    max-width: 900px;
    width: 100%;
    margin: 0 auto; /* centraliza */
    border-radius: 1rem;
}

/* Ajuste imagem logo */
.login-card-layout img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

/* Mobile */
@media (max-width: 992px) {
    .login-card-layout {
        max-width: 90%;
        margin: 1rem auto;
    }
    .login-card-layout img {
        max-height: 300px;
    }
}

/* Menu lateral desktop */
.list-group-item {
    white-space: nowrap; /* evita quebra de texto estranha */
}
