<div class="d-flex vh-100 justify-content-center align-items-center">
  <div class="card p-0 shadow-lg registration-card-integrated"> 
    <div class="row g-0 h-100"> 
      <div class="col-md-2 bg-marrom d-flex flex-column justify-content-end align-items-center p-3 rounded-start">
        <img src="assets/logo-domus.png" alt="Logo Domus" class="img-fluid" style="max-height: 100px;">
      </div>

      <div class="col-md-10 p-4"> 
        <h3 class="mb-4 text-center text-md-start">Crie sua Conta</h3>

        <form (ngSubmit)="registrar()">
          <div class="row g-2">
            <div class="col-md-6 mb-3">
              <label for="fullName" class="form-label">Nome Completo</label>
              <input type="text" class="form-control" id="fullName" name="fullName" [(ngModel)]="registroData.fullName" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="registroData.email" placeholder="seu@email.com" required>
            </div>
          </div>

          <div class="row g-2">
            <div class="col-md-6 mb-3">
              <label for="phone" class="form-label">Telefone</label>
              <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="registroData.phone" placeholder="(XX) XXXXX-XXXX" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="userType" class="form-label">Tipo de Usuário</label>
              <select class="form-select" id="userType" name="userType"
                      [(ngModel)]="registroData.userType" required>
                <option value="" disabled selected>Selecione</option>
                <option *ngFor="let r of roles" [value]="r.id">
                  {{ r.role }}
                </option>
              </select>
            </div>
          </div>

          <div class="row g-2">
            <div class="col-md-6 mb-3">
              <label for="bloco" class="form-label">Bloco</label>
              <select class="form-select" id="bloco" name="bloco"
                      [(ngModel)]="registroData.bloco"
                      (change)="onBlocoChange()"
                      required>
                <option value="" disabled selected>Selecione o Bloco</option>
                <option *ngFor="let b of blocos" [value]="b">
                  {{ b }}
                </option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label for="apartment" class="form-label">Apartamento</label>
              <select class="form-select" id="apartment" name="apartment"
                      [(ngModel)]="registroData.apartment"
                      (change)="onApartmentChange()"
                      required>
                <option value="" disabled selected>Selecione o Apartamento</option>
                <option *ngFor="let a of apartamentos" [value]="a.id">
                  {{ a.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="row g-2">
            <div class="col-md-6 mb-3">
              <label for="password" class="form-label">Senha</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="registroData.password" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="comprovante" class="form-label">Anexar Comprovante</label>
              <input type="file" class="form-control" id="comprovante" name="comprovante" (change)="onFileSelected($event)" required>
              <div class="form-text">Sujeito a aprovação.</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100">Registrar</button>

          <div *ngIf="registroMessage" class="alert mt-3" [ngClass]="{'alert-success': isSuccess, 'alert-danger': !isSuccess}">
            {{ registroMessage }}
          </div>
        </form>

        <div class="text-center mt-3">
          Já tem uma conta? <a class="text-decoration-none fw-bold" routerLink="/login">Fazer Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
