.obs {
    color: #FCAA60
}

.btn-marrom {
    background-color: #FCAA60;
    border-color: #FCAA60;
    color: #FFF;
}

.btn-marrom:hover {
    background-color: #e59950;
    border-color: #e59950;
}

.btn-marrom:active,
.btn-marrom:focus {
    background-color: #d18844 !important;
    border-color: #d18844 !important;
    box-shadow: 0 0 0 0.25rem rgba(252, 170, 96, 0.5);
}