<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">

      <div class="card shadow-lg border-0">
        <div class="card-header text-white text-center py-3" style="background-color: #FCAA60 !important;">
          <h4 class="mb-0">Agendar Reserva de Área Comum</h4>
        </div>
        <div class="card-body p-4 p-md-5">

          <form (ngSubmit)="solicitarReserva()">
            <div class="row mb-4 g-3">
              
              <div class="col-md-4">
                <label for="localSelect" class="form-label fw-bold">Local</label>
                <select class="form-select" id="localSelect" [(ngModel)]="reservaForm.area_id" name="area_id" required>
                    <option value="" disabled selected>Selecione a Área</option>
                    <option *ngFor="let area of areas" [value]="area.id_area">
                      {{ area.name }}
                    </option>
                </select>
              </div>

              <div class="col-md-4">
                <label for="dataInput" class="form-label fw-bold">Data</label>
                <input type="date" class="form-control" id="dataInput" [(ngModel)]="reservaForm.data" name="data" required>
              </div>

              <div class="col-md-4">
                <label for="periodoSelect" class="form-label fw-bold">Período</label>
                <select class="form-select" id="periodoSelect" [(ngModel)]="reservaForm.periodo" name="periodo" required>
                  <option value="" disabled selected>Selecione</option>
                  <option value="1">Manhã (08:00)</option>
                  <option value="2">Tarde (13:00)</option>
                  <option value="3">Noite (19:00)</option>
                </select>
              </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <div class="form-floating">
                        <textarea 
                            class="form-control" 
                            placeholder="Descrição" 
                            id="floatingTextarea2" 
                            style="height: 100px"
                            [(ngModel)]="reservaForm.descricao" name="descricao"
                        ></textarea>
                        <label for="floatingTextarea2">Descrição (Opcional)</label>
                    </div>
                </div>
            </div>

            <div class="d-grid mt-4">
              <button class="btn btn-marrom btn-lg" type="submit" [disabled]="isLoading">
                <span *ngIf="isLoading">Processando...</span>
                <span *ngIf="!isLoading">Solicitar Reserva</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>