.perfil-header {
    background-color: #FCAA60 !important;
}

.text-primary {
    color: #0d6efd !important; 
}

.btn-outline-secondary {
    --bs-btn-color: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c757d;
    --bs-btn-hover-border-color: #6c757d;
}

.btn-outline-danger {
    --bs-btn-color: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dc3545;
    --bs-btn-hover-border-color: #dc3545;
}

.btn-marrom {
    background-color: #FCAA60;
    border-color: #FCAA60;
    color: #FFF;
}

.btn-marrom:hover {
    background-color: #e59950;
    border-color: #e59950;
}

.btn-marrom:active,
.btn-marrom:focus {
    background-color: #d18844 !important;
    border-color: #d18844 !important;
    box-shadow: 0 0 0 0.25rem rgba(252, 170, 96, 0.5);
}
